@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import "@fortawesome/fontawesome-free/css/all.min.css";


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* 🎨 Brand Colors */
    --color-primary: #1E3A8A;
    --color-secondary: #9333EA;
    --color-gold: #FACC15;
    --color-dark: #111827;
    --color-light: #F9FAFB;
}


@keyframes gold-glow {

    0%,
    100% {
        color: #b8860b;
        text-shadow: 0 0 6px rgba(218, 165, 32, 0.6);
    }

    50% {
        color: #ffd700;
        text-shadow: 0 0 10px rgba(255, 215, 0, 1);
    }
}

.required-glow {
    animation: gold-glow 1.5s infinite;
}
